Source: gnatsd
Section: devel
Priority: optional
Maintainer: struktur AG <opensource@struktur.de>
Uploaders: Simon Eisenmann <simon@struktur.de>
Build-Depends: debhelper (>= 9),
               dh-golang,
               golang-go (>= 1.4.0),
               golang-nats-dev (>= 1.1.2),
               golang-goprotobuf-dev
Standards-Version: 3.9.5
Homepage: http://nats.io

Package: golang-gnatsd-dev
Architecture: all
Depends: ${misc:Depends}
Description: Gnatsd development Go package
 Gnatsd development Go package

Package: gnatsd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A High Performance NATS Server written in Go
 High Performance Golang Server for NATS, the cloud native messaging system
